* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  margin: auto;
  padding: 10px;
  //   overflow: hidden;
}

img {
  height: auto;
  width: 100%;
}

li {
  list-style: none;
}
